body {
    background-color: #A47E3B;
    overflow: scroll;
  }
  h1, h4{
      color: #eee;
  }
  form{
    padding-bottom: 50px;
  }
  .form-control {
    background-color: #eee;
    color: #61481C;
    border-color: #A47E3B;
  }
  .form-control:focus {
    background-color: #eee;
    color: #61481C;
    border-color: #A47E3B;
    box-shadow: none;
  }
  .btn-primary {
    margin-top: 10px;
    margin-bottom: -40px;
    background-color: #E6B325;
    border-color: #E6B325;
    color: #61481C;
    
  }
  .btn-primary:hover {
    background-color: #BF9742;
    border-color: #BF9742;
    color: #61481C;
  }
  .btn-secondary {
      background-color: #61481C;
    border-color: #61481C;
  }
  .btn-secondary:hover {
      background-color: #BF9742;
    border-color: #BF9742;
  }
